h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    margin: 10px;
}

.FinList {
    list-style-type: none;
}

.FinList li {
    background: #263238;
    list-style-type: none;
    font-family: 'Roboto Slab', serif;
    margin: 20px;
    padding: 10px;
    box-shadow: 1px 1px 3px;
    transition: all 0.3s;
}

.FinList li:hover {
    background: #607D8B;
}

.FinList span {
    color: whitesmoke;
    margin-left: 50px;
}