.List h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    margin: 10px;
}

.List-Todo {
    background: #03A9F4;
    list-style-type: none;
    font-family: 'Roboto Slab', serif;
    margin: 20px;
    padding: 10px;
    box-shadow: 1px 1px 3px;
    transition: all 0.3s;
}

.List-Todo:hover {
    background: #004D40;
}

.ShowList {
    padding-left: 30px;
    color: whitesmoke;
    transition: all 0.8s;
}

.ShowList:hover {
    color: #FFEB3B;
}

.fa-trash-alt {
    font-size: 1.6em;
    color: white;
    position: absolute;
    right: 30px;
    transition: all 0.5s;
}

.fa-trash-alt:hover {
    color: #FF9800;
}

.fa-check-circle {
    font-size: 1.4em;
    color: white;
    position: absolute;
    right: 60px;
    transition: all 0.5s;
    cursor: pointer;
}

.fa-check-circle:hover {
    color: #FFEB3B;
}

.fa-check {
    font-size: 1.4em;
    color: #FFC107;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}

.fa-check:hover {
    color: white;
}

.onEdit {
    color: whitesmoke;
    position: absolute;
    font-size: 1.4em;
    right: 30px;
    transition: all 0.4s;
}

.inputEdit {
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    border: none;
    background: none;
    height: 30px;
    padding-left: 30px;
    transition: all 0.8s;
    color: white;
}

.inputEdit:hover {
    color: #FFEB3B;
}

.checkbox {
   
}

.checkbox::after {

}